@page
@model MonitoringSystem.Pages.Final.ProductionPlanModel
@{
    ViewData["Title"] = "CS Production Plan";
    string formattedDate = DateTime.Now.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("en-US"));
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @* SweetAlert2 *@
    <link rel="stylesheet" href="~/css/sweetalert2.css" />

    <style>
        .dropdown {
            border: 1px solid #ccc;
            position: absolute;
            z-index: 1000;
            display: none;
            background-color: white;
            max-height: 150px;
            overflow-y: auto;
            width: 200px;
        }

        .dropdown div {
             padding: 10px;
             cursor: pointer;
        }

        .dropdown div:hover {
             background-color: #f0f0f0;
        }
    </style>

</head>
<body>
    <div class="card">
        <form method="post" asp-page-handler="InsertProductionRecord">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <div class="card text-center" style="background-color:#87bbfa">
                            <p class="pt-2 fs-7">Current Date :</p>
                            <p class="fs-4 fw-bold">@formattedDate</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center" style="background-color:#87bbfa">
                            <p class="pt-2 fs-7">Total Quantity :</p>
                            <p class="fs-4 fw-bold">@(Model.TotalQuantityCS != null ? Model.TotalQuantityCS : "0")</p>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th colspan="3" class="w-35">Original</th>
                        <th colspan="7" class="w-55">Current</th>
                    </tr>

                    <tr class="text-center">
                        <th scope="col" class="w-5">No</th>
                        <th scope="col" class="w-20">Model Name</th>
                        <th scope="col" class="w-15">Quantity</th>
                        <th scope="col" class="w-20">Model Name</th>
                        <th scope="col" class="w-15">Quantity</th>
                        <th scope="col" class="w-15">Qty/Hour</th>
                        <th scope="col" class="w-10">Hour</th>
                        <th scope="col" class="w-20">LOT</th>
                        <th scope="col" class="w-20">Remarks</th>
                        <th scope="col">Action</th>
                    </tr>
                <tbody>
                        @for (int i = 0; i <= 16; i++)
                        {
                            var record = Model.listRecords.Count > i ? Model.listRecords[i] : null;
                        <tr>
                            <th scope="row" class="text-center align-middle">@(i + 1)</th>
                            <td>
                                <div class="input-group m-1">
                                    <input disabled type="hidden" name="IdModel[@i]" value="@(record?.Id)" />
                                    <input disabled type="text" class="form-control" name="OriginalModelName[@i]" value="@(record?.ModelName)" placeholder="Silahkan Pilih Model" autocomplete="off" />
                                </div>
                            </td>
                            <td>
                                <div class="m-1">
                                    <input disabled type="text" class="form-control" name="OriginalQuantity[@i]" data-quantity="@(record?.Quantity.ToString())" value="@(record?.Quantity.ToString())" placeholder="Masukkan Qty" autocomplete="off" />
                                </div>
                            </td>
                            <td>
                                <div class="input-group m-1">
                                    <input type="hidden" name="IdModel[@i]" value="@(record?.Id)" />
                                    <input type="text" class="form-control productInput" name="ModelName[@i]" value="@(record?.ModelName)" placeholder="Silahkan Pilih Model" autocomplete="off" />
                                    <a class="btn btn-primary input-group-text" id="choose_option" data-bs-toggle="modal" data-bs-target="#new-model-modal">Tambahkan Opsi</a>
                                </div>
                                <div id="dropdown" class="dropdown"></div>
                            </td>
                            <td>
                                <div class="m-1">
                                    <input type="text" class="form-control" name="Quantity[@i]" data-quantity="@(record?.Quantity.ToString())" value="@(record?.Quantity.ToString())" id="quantity" placeholder="Masukkan Quantity" autocomplete="off" />
                                </div>
                            </td>
                            <td>
                                <div class="m-1">
                                    <input type="text" class="form-control" name="QtyHour[@i]" value="@(record?.QtyHour.ToString())" id="qtyhour" placeholder="Masukkan Qty/Hour" autocomplete="off" />
                                </div>
                            </td>
                            <td>
                                <div class="m-1">
                                    <input type="text" class="form-control" name="Hour[@i]" value="@(record?.Hour ?? 0)" id="hour" autocomplete="off" readonly />
                                </div>
                            </td>
                            <td>
                                <div class="m-1">
                                    <input type="text" class="form-control" name="Lot[@i]" value="@(record?.Lot)" id="lot" placeholder="Masukkan LOT" autocomplete="off" />
                                </div>
                            </td>
                            <td>
                                <div class="m-1">
                                    <input type="text" class="form-control" name="Remark[@i]" value="@(record?.Remark)" id="remarks" placeholder="Masukkan Remarks" autocomplete="off" />
                                </div>
                            </td>
                            <td>
                                <div class="d-flex">
                                        @if (record != null)
                                        {
                                        <a class="btn btn-warning mt-1 me-2" data-bs-toggle="modal" data-bs-target="#edit-model" onclick="setModalData(this)">Edit</a>
                                        <a class="btn btn-danger mt-1" data-bs-toggle="modal" data-bs-target="#delete-model" onclick="setDeleteRecordId(@(record?.Id))">Delete</a>
                                        }
                                        else
                                        {
                                        <a class="btn btn-warning mt-1 me-2 disabled">Edit</a>
                                        <a class="btn btn-danger mt-1 disabled">Delete</a>
                                        }
                                </div>
                            </td>
                        </tr>
                        }
                    <tr>
                        <td colspan="2" class="align-top text-end">
                            <p class="mt-2 me-5 fw-bold">Comment</p>
                        </td>
                        <td colspan="6">
                            <div class="m-2">
                                <textarea class="form-control" name="comment" id="comment" placeholder="Masukkan Komentar">@Model.Comment</textarea>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex align-middle justify-content-center pb-3">
                <button type="submit" class="btn btn-primary me-3">Submit</button>
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-all-model">Reset</a>
            </div>
        </form>
    </div>

    @* Modal Insert Product*@
    <div class="modal fade" id="new-model-modal" tabindex="-1" aria-labelledby="new-model-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new-model-modal-label">Tambah Opsi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-page-handler="InsertProduct">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="new-model" class="col-form-label fw-bold">TAMBAHKAN MODEL BARU JIKA TIDAK ADA PILIHAN MODEL YANG DIINGINKAN</label>
                            <input type="text" class="form-control" id="new-model" name="ProductName">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* Modal Update Product*@
    <div class="modal fade" id="edit-model" tabindex="-1" aria-labelledby="Edit-Model-Modal-Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Data</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-page-handler="UpdateProduct">
                    <input type="hidden" name="Id" />
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="" class="col-form-label">Product Name:</label>
                            <input type="text" class="form-control productInput" name="ProductName" placeholder="Silahkan Pilih Model" autocomplete="off" />
                            <div id="dropdown" class="dropdown"></div>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Quantity:</label>
                            <input type="text" class="form-control" name="Quantity" id="quantity" placeholder="Masukkan Quantity" autocomplete="off" />
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">QtyHour:</label>
                            <input type="text" class="form-control" name="QtyHour" id="qtyhour" placeholder="Masukkan Quantity/Hour" autocomplete="off" />
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Lot:</label>
                            <input type="text" class="form-control" name="Lot" id="lot" placeholder="Masukkan LOT" autocomplete="off" />
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Remark:</label>
                            <input type="text" class="form-control" name="Remark" id="remarks" placeholder="Masukkan Remarks" autocomplete="off" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* Modal Delete Product*@
    <div class="modal fade" id="delete-model" tabindex="-1" aria-labelledby="delete-model-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-page-handler="DeleteRecord">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <label for="delete-model" class="col-form-label fw-bold">Apakah anda yakin ingin menghapus data ini ?</label>
                        <input type="hidden" id="delete-record-id" name="RecordId" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete Record</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* Modal Delete All Product*@
    <div class="modal fade" id="delete-all-model" tabindex="-1" aria-labelledby="delete-model-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-page-handler="DeleteAllRecord">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <label for="delete-model" class="col-form-label fw-bold">Apakah anda yakin ingin me-reset semua data pada hari ini ?</label>
                        <input type="hidden" id="delete-record-id" name="RecordId" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete Record</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/js/sweetalert2.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var statusMessage = '@TempData["StatusMessage"]';
            var message = '@TempData["Message"]';

            if (statusMessage === 'success') {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: message,
                    confirmButtonText: 'OK'
                });
            } else if (statusMessage === 'error') {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: message,
                    confirmButtonText: 'OK'
                });
            }
        });
    </script>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>

    const productNames = @Html.Raw(Model.ProductNames);
    const productNameStrings = productNames.map(product => product.Name);

    // Ambil semua elemen input dan dropdown
    const productInputs = document.querySelectorAll('.productInput');
    const dropdowns = document.querySelectorAll('.dropdown');

    // Fungsi untuk menampilkan dropdown
    function showDropdown(input, dropdown, filteredNames) {
        dropdown.innerHTML = '';
        if (filteredNames.length > 0) {
            filteredNames.forEach(name => {
                const div = document.createElement('div');
                div.textContent = name;
                div.onclick = () => {
                    input.value = name;
                    dropdown.style.display = 'none';
                };
                dropdown.appendChild(div);
            });
            dropdown.style.display = 'block';
        } else {
            dropdown.style.display = 'none';
        }
    }

    // Event listener untuk setiap input
    productInputs.forEach((input, index) => {
        // Ambil dropdown yang sesuai
        const dropdown = dropdowns[index];

        // Menampilkan dropdown saat input diklik
        input.addEventListener('click', () => {
            const query = input.value.toLowerCase();
            const filteredNames = productNameStrings.filter(name => name.toLowerCase().includes(query));
            showDropdown(input, dropdown, filteredNames);
        });

        // Menampilkan dropdown saat input diisi
        input.addEventListener('input', () => {
            const query = input.value.toLowerCase();
            const filteredNames = productNameStrings.filter(name => name.toLowerCase().includes(query));
            showDropdown(input, dropdown, filteredNames);
        });
    });

    // Event listener untuk menghilangkan dropdown ketika klik di luar
    document.addEventListener('click', (event) => {
        productInputs.forEach((input, index) => {
            const dropdown = dropdowns[index];
            if (!input.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.style.display = 'none';
            }
        });
    });

    function setModalData(button) {
        var row = button.closest('tr');

        var id = row.querySelector('input[name^="IdModel"]').value;
        var modelName = row.querySelector('input[name^="ModelName"]').value;
        var quantity = row.querySelector('input[name^="Quantity"]').value;
        var qtyHour = row.querySelector('input[name^="QtyHour"]').value;
        var lot = row.querySelector('input[name^="Lot"]').value;
        var remark = row.querySelector('input[name^="Remark"]').value;

        document.querySelector('#edit-model input[name="Id"]').value = id
        document.querySelector('#edit-model input[name="ProductName"]').value = modelName;
        document.querySelector('#edit-model input[name="Quantity"]').value = quantity;
        document.querySelector('#edit-model input[name="QtyHour"]').value = qtyHour;
        document.querySelector('#edit-model input[name="Lot"]').value = lot;
        document.querySelector('#edit-model input[name="Remark"]').value = remark;
    }

    function setDeleteRecordId(recordId) {
        document.getElementById("delete-record-id").value = recordId;
    }
</script>
</html>